<div class="row-fluid">
    <div class="col-md-12 panel panel-default">
        <div class="panel-body">

            <div class="media">
                <div class="media-body">
                    <h3 class="media-heading">Tread: {{tread.name}}</h3>
                </div>

                <single-post post="tread.posts[0]"></single-post>

            </div>

            <ul class="media-list" style="margin-left: 20px;">
                <li class="media panel panel-default" ng-repeat="post in tread.posts">
                    <div class="panel-body">
                        <single-post post="post"></single-post>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>